  <footer class="page-footer teal">
        <div class="container">
            <div class="row">
       <div class="col s12">     
            <h6 class="center-align">
                &copy 2018 Trip Note
            </h6>
        </div>    
        </div>
    </footer>