<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h6 class="center-align">
                    &copy 2018 Trip Notes
                </h6>
            </div>
        </div>
</footer>