<nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">Logo</a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="#">Navbar Link</a>
                </li>
                <li>
                    <!-- Google sign in -->                    
                    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="light"></div>
                </li>
                <li>
                    <!-- Google sign out -->
                    <a href="#" class="g-signout2" onclick="signOut();">Sign out</a>
                </li>
                <li>
                    <a href='/dashboard' id="dashboard-btn">Dashboard</a>
                </li>
                <li>
                    <a href='/' id="about-btn">About</a>
                </li>
            </ul>

            <ul id="nav-mobile" class="side-nav hide-on-large-only">
                <li>
                    <a href="#">Navbar Link</a>
                </li>
                <li>
                    <!-- Google sign in -->                    
                    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="light"></div>
                </li>
                <li>
                    <!-- Google sign out -->
                    <a href="#" class="g-signout2" onclick="signOut();">Sign out</a>
                </li>
                <li>
                    <a href='/dashboard' id="dashboard-btn">Dashboard</a>
                </li>
                <li>
                    <a href='/' id="about-btn">About</a>
                </li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
        </div>
    </nav>