  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="#">
          <span class="card-title">{{trip.Title}}</span>
        </div>
        <div class="card-content">
          <p>{{trip.Description}}</p>
        </div>
        <div class="card-action card-panel cyan lighten-3">
          <a href="/trip/{{trip.tripLink}}" class= "brown-text">View Trip</a>
          <a href="/trip/{{trip.tripLink}}">  <i class="small material-icons">share</i></a>
          <i class="small material-icons" id="deleteTrip">delete</i>
          {{#if trip.Private}}<i class="small material-icons right">lock_outline</i>{{/if}}
        </div>
      </div>
    </div>
  </div>