<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    
    <!-- Google Sign In -->
    <meta name="google-signin-client_id" content="525584164721-u27ntnoavl7717osmjjtqhdsk5desmtl.apps.googleusercontent.com">
    <meta name="google-signin-cookiepolicy" content="single_host_origin">
    <meta name="google-signin-scope" content="profile email">

    <title>Tripe Notes</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    {{!-- handlebar Partials --}}
   {{>nav}}
        {{{ body }}}
   {{>footer}}
    

    


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    
    <!-- Firebase App is always required and must be first -->
    <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase-auth.js"></script>
    
    <script src="/assets/js/init.js"></script>
    <script src="/assets/js/config.js"></script>
</body>

</html>