<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">

            <br>
            <br>
    

        </div>
    </div>
    <div class="parallax">
        <img src="/assets/image/city.jpg" alt="Unsplashed background img 1">
    </div>
</div>

<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12">
                <div class="icon-block">
                    <h2 class="center brown-text">
                        <i class="material-icons">landscape</i>
                    </h2>
                    <h5 class="center">Explore and Share</h5>
                    <p class="light">Trip Notes lets you share their vacation experiences with the world. With Trip Notes, you can can check
                        in to places you visit throughout your trip, upload photos and notes for each location visited, and
                        explore new fun places by searching publicly posted trips. Whether to take notes of your memory as
                        you go, or look for new places or hidden gems to explore, Trip Notes have you covered. </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">Discovering the beauty of life through travel...</h5>    
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="/assets/image/AB2.jpg" alt="Unsplashed background img 2">
    </div>
</div>

<div class="container">
    <div class="section">
        {{!-- 
        Sample Travel Sites Pictures to encourage traveling --}}
            <div class="row">
                <div class="col s12">
                    
                    {{#if trips.length}}
                        <div class="carousel">
                            {{>trips}}
                        </div>
                        <div id="currentTrip">
                        </div>
                        <a id='currentTripLink'>View</a>
                    {{else}}
                        <div class="icon-block">
                            <h2 class="center brown-text">
                                <i class="material-icons">local_airport</i>
                            </h2>
                            <h5 class="center">Your next adventure awaits!</h5>
                        </div>
                    {{/if}}
                </div>
            </div> 


    </div>
</div>
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">Sharing your experiences with people around the World ...</h5>
                </div>
            </div>
        </div>
    
    <div class="parallax">
        <img src="/assets/image/LS5.jpg" alt="Unsplashed background img 3">
    </div>
</div>
