<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">

            <br>
            <br>
    

        </div>
    </div>
    <div class="parallax">
        <img src="/assets/image/LS4.jpg" alt="Unsplashed background img 1">
    </div>
</div>

<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12">
                <div class="icon-block">
                    <h2 class="center brown-text">
                        <i class="material-icons">landscape</i>
                    </h2>
                    <h5 class="center">Explore and Share</h5>
                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam
                    pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros
                    justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget,
                    bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla
                    imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam
                    eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et
                    ultrices posuere cubilia Curae</p>
                </div>
            </div>

             
            </div>

       </div>
    </div>




<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">Discovering the beauty of life through travel...</h5>    
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="/assets/image/LS1.jpg" alt="Unsplashed background img 2">
    </div>
</div>

<div class="container">
    <div class="section">
        {{!-- 
        Sample Travel Sites Pictures to encourage traveling --}}
            <div class="row">
                <div class="col s12">
                    
                    <div class="carousel">
                        {{>trips}}
                        {{!-- <a class="carousel-item" href="#one!"><img src="/assets/image/LS2.jpg"></a>
                        <a class="carousel-item" href="#two!"><img src="/assets/image/LS8.jpg"></a>
                        <a class="carousel-item" href="#three!"><img src="/assets/image/LS9.jpg"></a>
                        <a class="carousel-item" href="#four!"><img src="/assets/image/LS4.jpg"></a>
                        <a class="carousel-item" href="#five!"><img src="/assets/image/LS7.jpg"></a> --}}
                    </div>
                    <div id="currentTrip">
                    </div>
                    <a id='currentTripLink'>View</a>
                </div>
            </div> 


    </div>
</div>
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">Sharing your experiences with people around the World ...</h5>
                </div>
            </div>
        </div>
    
    <div class="parallax">
        <img src="/assets/image/LS5.jpg" alt="Unsplashed background img 3">
    </div>
</div>
