<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row">
                <p>Check in with Geolocation</p>

                <button class="waves-effect waves-light btn" onclick="getLocation()">Check In</button>
                <div id='alert'></div> 

                <form class="col s12">
                    <div class="row">
                        <p>Or search a location to check in to</p>
                        <div class="input-field col s6">
                            <input id="venue" type="text" class="validate">
                            <label for="venue">Venue Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="city" type="text" class="validate">
                            <label for="city">City</label>
                        </div>
                        <button class="btn waves-effect waves-light submit" type="submit" name="submit">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>