<div id="index-banner">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row">

                <h2>{{trip.Title}}</h2>
                <p>{{trip.Description}}</p>

                <h3>Checkins</h3>
                <p>Check in with Geolocation</p>
                <button class="waves-effect waves-light btn" onclick="getLocation('{{trip.Key}}')">Check In</button>
                <div id='alert'></div>

                <form id="checkinForm" class="col s12">
                    <div class="row">
                        <p>Or search a location to check in to</p>
                        <div class="input-field col s6">
                            <input id="venue" type="text" class="validate">
                            <label for="venue">Venue Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="city" type="text" class="validate">
                            <label for="city">City</label>
                        </div>
                        <input type="hidden" id="tripKey" value="{{trip.key}}"/>
                        <button class="btn waves-effect waves-light submit" type="submit" name="submit">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>

                <div class="row" id="checkins">
                    {{>checkins checkins=checkins}}
                </div>

                {{!-- Upload file --}}
                <input type="file" id="file-input">
                <p id="status">Please select a file</p>

                <div id="newImage"></div>
            </div>
        </div>
    </div>

    <!-- modals -->
    <div id="noteModal" class="modal">
        <form id="addNote">
            <div class="modal-content">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="note" class="materialize-textarea" required></textarea>
                        <label for="note">Add a note</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn waves-effect waves-light submit" type="submit" name="submit">Submit
                    <i class="material-icons right">Send</i>
                </button>
            </div>
        </form>
    </div>
</div>